#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# VIM setup
OS_USERNAME=
OS_PASSWORD=
OS_TENANT_NAME=
OS_AUTH_URL=
OS_TENANT_ID=

# OSM Setup
OSM_HOSTNAME=
VIM_TARGET=
VIM_MGMT_NET=

# Robot setup
ENVIRONMENTS_FOLDER=environments
PACKAGES_FOLDER=/robot-systest/osm-packages

# Clouds file datacenter
OS_CLOUD=openstack

LC_ALL=C.UTF-8
LANG=C.UTF-8
