# VIM setup
OS_USERNAME=fvicens
OS_PASSWORD=fvicens19
OS_TENANT_NAME=admin
OS_AUTH_URL=https://172.21.247.1:5000/v3
OS_TENANT_ID=fvicens
OSM_HOSTNAME=172.21.248.28
VIM_TARGET=osm
VIM_MGMT_NET=osm-ext
ENVIRONMENTS_FOLDER=environments
PACKAGES_FOLDER=/robot-systest/osm-packages
OS_CLOUD=openstack

LC_ALL=C.UTF-8
LANG=C.UTF-8
